name: ZAP Web Scan

on: 
  workflow_dispatch:   # 手動執行
  push:
    branches: [ "main" ]
permissions:
  contents: read
  issues: write
jobs:
  zap_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          target: 'https://www.lionsclubs.org.tw/2021/'
          fail_action: false
          artifact_name: 'zapreport'
